In [1]:
import pandas as pd
tabela = pd.read_csv('cadastros.csv')
tabela

       bryan  17             bryan@gmail.com  123456
0        Ana  23               ana@gmail.com  102030
1    andreas  18  andreaséveadinho@gmail.com     110
2       kaue  19         kauinerex@gmail.com  203040
3  joaozinho  32  joaozinhodopitão@gmail.com    6060